# load developer-config
source_env_if_exists .envrc.local

# use nix shell
if command -v nix &> /dev/null; then
  use_nix
fi

# use venv if one exists
if [ -d ".venv" ]; then
  export VIRTUAL_ENV=.venv
  layout python
fi
